header
  min-height: 100vh
  background:linear-gradient(0deg, rgba(255,255,255,0) 0%, #000000cc 100%), url(assets/img/header_background.jpg)
  background-color: #222
  background-position: left, center
  background-size: cover
  display: flex
  flex-direction: column

  h1
    margin: 0
    padding: 50px
    color: white
    text-align: right
  
  .button
    display: block
    margin: 50px
    margin-top: 20vw
    align-self: flex-end

.section-1
  .logo-wrapper
    display: block
    width: 100vw
  .logo
    display: block
    width: 80vw
    margin: auto
    margin-top: -12vw

  .wrapper  
    margin: auto  
    p
      display: block
      padding: 5vw
      margin: auto
      max-width: 400px
    
    .button
      display: block
      margin: 50px auto 50px

  .pot2
    max-height: 645px
    margin: auto
    margin-right: 0
  

