.button
  background-color: $button-green
  font-family: $vollkorn
  font-size: 20pt
  font-weight: 700
  color: white
  border: none
  border-radius: 10px
  padding: 20px


  &:hover,
  &:focus
    text-decoration: underline
    outline: 0
